Part 1: data cleaing

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#load data and print a few rows 
df = pd.read_csv('https://github.com/ArinB/MSBA-CA-03-Decision-Trees/blob/master/census_data.csv?raw=true')
df.head()

,hours_per_week_bin,occupation_bin,msr_bin,capital_gl_bin,race_sex_bin,education_num_bin,education_bin,workclass_bin,age_bin,flag,y
0,b. 31-40,b. Mid - Low,b. Mid,c. > 0,c. High,c. 13,c. Bachelors,b. income,d. 36-40 & 56-60,train,0
1,a. 0-30,e. High,c. High,a. = 0,c. High,c. 13,c. Bachelors,b. income,e. 40-55,train,0
2,b. 31-40,a. Low,b. Mid,a. = 0,c. High,b. 9-12,b. Mid,b. income,d. 36-40 & 56-60,train,0
3,b. 31-40,a. Low,c. High,a. = 0,b. Mid,a. 0-8,a. Low,b. income,e. 40-55,train,0
4,b. 31-40,e. High,c. High,a. = 0,a. Low,c. 13,c. Bachelors,b. income,b. 26-30 & 71-100,train,0

In [8]:
# print the DataFrame's shape
print(df.shape)

(48842, 11)

In [9]:
# print the DataFrame's data types
print(df.dtypes)

hours_per_week_bin    object
occupation_bin        object
msr_bin               object
capital_gl_bin        object
race_sex_bin          object
education_num_bin     object
education_bin         object
workclass_bin         object
age_bin               object
flag                  object
y                      int64
dtype: object

In [10]:
# check for missing values
print(df.isnull().sum())

hours_per_week_bin    0
occupation_bin        0
msr_bin               0
capital_gl_bin        0
race_sex_bin          0
education_num_bin     0
education_bin         0
workclass_bin         0
age_bin               0
flag                  0
y                     0
dtype: int64

In [ ]:
#create a box plot to visualize the outliers of a numeric column 
plt.boxplot(df[''])
plt.ylabel('')
plt.show()

In [ ]:
#create a copy of original DataFrame
df_preprocessed = df.copy()

In [ ]:
# Encode categorical variables using one-hot encoding. All Columns must have numerical values after this step
df_no_missing_value = df_preprocessed.copy()
df_preprocessed_again = pd.get_dummies(df_select_columns, columns=['sex', 'pclass', 'embarked'], prefix=['sex', 'pclass', 'embarked'])

In [ ]:
**DATA QUALITY REPORT**

#no missing values in any column